<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="azureAppSettings">
      <section name="loginInformation" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="resourceProviders" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="resourceNames" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <azureAppSettings>
    <loginInformation>
      <add key="clientId" value="" />
      <add key="clientSecret" value="" />
      <add key="directoryTenantName" value="microsoft.onmicrosoft.com" />
      <add key="armEndpoint" value="https://management.azure.com/" />
    </loginInformation>
    <resourceNames>
      <add key="subscriptionId" value="InsertValueHere" />
      <add key="resourceGroupName" value="InsertValueHere" />
      <add key="virtualMachineName" value="InsertValueHere" />
      <add key="virtualNetworkName" value="InsertValueHere" />
      <add key="publicIpAddressName" value="InsertValueHere" />
    </resourceNames>
    <resourceProviders>
      <add key="armApiVersion" value="2016-09-01" />
      <add key="computeApiVersion" value="2017-03-30" />
      <add key="computeNamespace" value="Microsoft.Compute" />
      <add key="networkApiVersion" value="2016-12-01" />
      <add key="networkNamespace" value="Microsoft.Network" />
      <add key="usageNamespace" value="Microsoft.Commerce" />
      <add key="usageApiVersion" value="2015-06-01-preview" />
    </resourceProviders>
  </azureAppSettings>
</configuration>